.vs/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.rsuser

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
TestResults/

*.log
*.cache
*.tmp
*.bak
*.swp
*.[Cc]ache

*.[Pp]ubxml
*.[Pp]ubxml.user

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/